* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inter, sans-serif;
  background-color: #414a53;
}

nav {
  display: flex;
  align-items: center;
  /* background-color: #11222A; */
  padding: 30px 25px;
  background: linear-gradient(90deg, #2c3e50, #bdc3c7);
}

.nav--logo_text, .nav--title {
  margin: 0;
}

.nav--icon {
height: 30px;
margin-right:7px ;
}

.nav--logo_text {
  margin-right: auto;
  color: #24aed4;
  font-family: 700;
  font-size: 22px;
}

.nav--title {
  color: #155098;
  font-weight: 600;
}

.items-list {
  text-align: left;
  font-weight: 800;
  font-size: 18px;
  color:#deebf1;
}

.Main > li::marker {
  font-size: 1.8rem;
  color: #24aed4;
}

.Main {
  background-repeat: no-repeat;
  background-position: right 25%;
  image-resolution:initial ;
}

.list-body--content {
      text-align: justify;
      text-justify: auto;
      padding: 12px 40px 12px 20px;
      box-shadow: 10px 5px 5px #24aed4;
}


